body {
  background: url("../img/bg.jpeg");
  text-align: center;
}

#result {
  display: none;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.btn-lg {
  background-color: #fff;
  color: #000;
}

.btn-lg:hover {
  background-color: #000;
  color: #fff;
}

.well {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 400px;
  margin: auto;
}

.output {
  width: 350px;
  display: block;
  word-wrap: break-word;
}
